; to be named cisco.ini

[Device 1]
name = myswitch
ip = 198.18.100.100
user = cisco
key = /.ssh/key
prompt = cisco#

[Device 2]
name = myrouter
ip = 198.18.100.200
user = cisco
key = /.ssh/key
prompt = cisco-ASA#