; to be named cisco.ini

[Device 1]
name = myswitch
ip = 198.18.100.100
user = cisco
key = /.ssh/key
prompt = cisco>

;optional enable support, all 3 required if used
enable_prompt = cisco#
enable_pass = cisco
enable_level = 5     ; 1-15, 15 is default


[Device 2]
name = myrouter
ip = 198.18.100.200
user = cisco
key = /.ssh/key
prompt = cisco-ASA#